// COLORS
$primary: #008061;
$accent: #ff6a00;
$white: #ffffff;
$black: #1a1a1a;
$gray: #f1f3f5;

$background: $gray;
$primary-text: $black;
$secondary-text: #6c757d;
$border-color: #dee2e6;
$danger: #dc3545;

// FONT
$font: 'Arial', sans-serif;

// SPACING
$padding-container: 2rem;

// BORDER
$radius-md: 10px;