@use '../../Styles/variables' as v;

.pageWrapper {
  display: flex;
  height: 100vh;
  background-color: #eee;
  justify-content: center;
  align-items: center;

  .formCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
    h2 {
      color: v.$primary-blue; // Fixed name from $primary-color to $primary-blue
      margin-bottom: 1rem;
      text-align: center;
      font-size: 30px;
    }

    input{
      height: 30px;
      padding: 20px;
      border-radius: 10px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: black;
      color: white;
      cursor: pointer;
      border-radius: 10px;

      
      &:hover {
        background: #333;
      }
    }
    // ... rest of your input styles
  }
}